body{
    background-color: red;
    max-width: fit-content;
    margin:auto;
}

#container-1{
    text-align: center;
}

#container-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    text-align: center;
}

#game-options, #score{
    margin: 0 10vh;
}

#gameboard{
    height: 100vh;
    width: 100vh;
    background-color: blue;
}
#find-me{
    width: 10px;
    height: 10px;
    background-color: black;
}